{{ form.intro }}
{{ form.game_status_panel }}
<div class='table is-centered'>
  <div class='table__row'>
    <div class='table__cell is-right-aligned'>
      {{ form.game_infos_panel }}
    </div>
    <div class='table__cell'>
      {{ grid }}
    </div>
  </div>
</div>
<div class="djambi-grid__actions">
  {{ form.cells }}
  {{ form.actions }}
</div>
{{ form.display }}
{{ form|without('intro', 'game_status_panel', 'game_infos_panel', 'cells', 'actions', 'display') }}