{% if cell.isEnabled() %}
  <div
    class="cell cell-type-{{ cell.type }} cell-reachable-{{ cell.isReachable() ? 'yes' : 'no' }} cell-occupation-{{ cell.occupant is null ? 'empty' : 'full' }}"
    title="{{ 'Cell @name'|t({ '@name': cell.name }) }}"
    data-cell-name="{{ cell.name }}">
    {% if cell.isSelectable() %}
      <label class="cell-name"
             for="{{ cell_form_label }}">{{ cell.name }}</label>
    {% else %}
      <span class="cell-name">{{ cell.name }}</span>
    {% endif %}
    {% if throne %}
      <span class="cell-type">({{ "Throne"|t }})</span>
    {% endif %}
    {% if cell.occupant is not null %}
      {{ piece }}
    {% endif %}
  </div>
{% else %}
  <div class="cell cell-type-disabled"></div>"
{% endif %}