{{ form.intro }}
{{ form.game_status_panel }}
<div class='table'>
  <div class='table__row'>
    <div class='table__cell is-right-aligned'>
      {{ form.game_infos_panel }}
    </div>
    <div class='table__cell'>
      {{ grid }}
      <div class="djambi-grid__actions {{ display_cells_class }}">
        {{ form.cells }}
        {{ form.actions }}
      </div>
    </div>
  </div>
</div>
{{ form.display }}
{{ form|without('intro', 'game_status_panel', 'game_infos_panel', 'cells', 'actions', 'display') }}