{% if html -%}
  <span class="{{ attributes.class }}"{{ attributes }}>
{%- endif %}
{% if display_dead_name == false and piece.isAlive() == false -%}
  {{- 'a dead piece'|t -}}
{% elseif piece.num is empty -%}
  {{- '@side @piece'|t({ '@side': piece.faction.name, '@piece': piece.description.longName }) -}}
{% else -%}
  {{- '@side @piece #@num'|t({ '@side': piece.faction.name, '@piece': piece.description.longName, '@num': piece.num }) -}}
{% endif %}
{% if html -%}
  </span>
{%- endif %}