{% spaceless %}
  {% if cell.isEnabled() == true %}
    <{{ cell_tag }} class="{{ attributes.class }}"{{ attributes }}>
      <span class="djambi-cell__name">{{ cell.name }}</span>
      {%- if throne -%}
        <span class="djambi-cell__type-name">({{ "Throne"|t }})</span>
      {%- endif -%}
      {%- if cell.occupant is not null -%}
        {{- piece -}}
      {%- endif -%}
      {%- if positionnable_piece -%}
        {{- positionnable_piece -}}
      {%- endif -%}
    </{{ cell_tag }}>
  {% else %}
    <div class="{{ attributes.class }}"></div>"
  {% endif %}
{% endspaceless %}